*{ margin:0; padding:0; list-style:none;}

body { font-size:12px; color:#555555; font-family:Arial;}
a:link,a:visited{ color:#555555; text-decoration:none;}
a:hover{ color:#ff8400; text-decoration:underline;}
.clearing{ clear:both;font-size: 0px; line-height: 0; height: 0px;border-top:1px solid transparent;visibility: hidden;}
img{border-width:0;}

.main{width:760px; margin:10px auto;}

.core_bg,.core_bg .i_core_tl,.core_bg .i_core_tr,.core_bg .i_core_bl,.core_bg .i_core_br{ background-image:url(../images/bg/core_bg.gif); background-repeat:no-repeat;}
.core_bg{ background-repeat:repeat-x; background-position:left -30px; border:1px solid #38b5c6; position:relative;padding:10px;}
.core_bg .i_core_tl,.core_bg .i_core_tr,.core_bg .i_core_bl,.core_bg .i_core_br{display:block; width:10px; height:10px; line-height:0px; font-size:0; position:absolute;}
.core_bg .i_core_tl{ background-position:left top; top:-1px; left:-1px;}
.core_bg .i_core_tr{ background-position:-10px top; top:-1px; right:-1px;}
.core_bg .i_core_bl{ background-position:left -15px; bottom:-1px; left:-1px;}
.core_bg .i_core_br{ background-position:-10px -15px; bottom:-1px; right:-1px;}

.search_index{padding:10px 0 20px 0; text-align:center;}
.category_index_ul li{ float:left; width:96px;margin:2px 0;}
.new_add_h2{margin:20px 0 0 120px;}
.new_list_ul{margin:0px 130px 10px 130px;}
.new_list_ul li{float:left;width:250px;padding:2px 0;}


.main_list_ul{padding:25px 25px 0;}
.main_list_ul li{padding:6px;}
.main_list_ul .title{font-size:14px;margin-bottom:2px; color:#E63A3A;}
.main_list_ul .title:hover{color:#ff8400;}
.main_list_ul p{padding-left:10px;}
.pagination_custom{ text-align:right;}


.main_bg .mb_tl,.main_bg .mb_tr,.main_bg .mb_bl,.main_bg .mb_br,.main_bg .main_bgg{ background-image:url(../images/bg/main_bg.gif); background-repeat:no-repeat;}
.main_bg{ position:relative; background:#e7f7f7 url(../images/bg/main_bg_left.gif) repeat-y top right;border-left:solid 1px #d9ebef;}
.main_bg .main_bgg{ background-position:left bottom; background-repeat:repeat-x;height:35px;}
.main_bg .mb_tl{ position:absolute; display:block; width:23px; height:22px;top:0;left:-1px; background-position:left top;}
.main_bg .mb_tr{ position:absolute; display:block; width:25px; height:22px;top:0;right:0; background-position:-40px top;}
.main_bg .mb_bl{ position:absolute; display:block; width:22px; height:35px;bottom:0;left:-1px;  background-position:left -40px;}
.main_bg .mb_br{ position:absolute; display:block; width:25px; height:35px;bottom:0;right:0;  background-position:-40px -40px;}

.left_bg,.left_bgg{ background-image:url(../images/bg/left_bg2.gif); background-repeat:repeat-y;}
.left_bg{ background-position:left top;background-color:#e9f7f8;}
.left_bgg{ background-position:right top; background-color:transparent;}
.left_bgh3,.left_h3span,.left_bg_foot,.left_bf2{ background-image:url(../images/bg/left_bg1.gif); background-repeat:no-repeat;}
.left_bgh3{ background-position:left top;}
.left_h3span{ display:block; background-position:right -50px; height:36px; line-height:34px; font-size:16px; text-align:center;}
.left_bg_foot{ background-position:left -100px;}
.left_bf2{ background-position:right -140px; height:23px;}

/*   footer    */
.footer{margin:10px auto; width:760px; border-top:solid #ccc 1px;padding:6px 0; text-align:center;}

/* detail  */
.detail_title{text-align:center;padding-bottom:6px;}
.detail_dl dt{float:left;width:130px;text-align:right;padding-top:4px;}
.detail_dl dd{margin-left:132px;padding:4px 0;}

.leftlist_ul{margin:0 10px;padding-top:6px;}
.leftlist_ul li{padding:4px 0;}
